body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    padding: 8px 16px;
}
nav a:hover {
    background-color: #555;
}
.container {
    padding: 20px;
}
footer {
    background-color: #45454545;
    color: #555555;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.model-details {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.model-details img {
    width: 100%;
    border-radius: 8px;
}
.model-details h2 {
    margin-top: 0;
}