body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #5268c0;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
nav {
    background-color: #4458af;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    padding: 8px 16px;
}
nav a:hover {
    background-color: #1f3393;
    border-radius: 12px;
}
.container {
    padding: 20px;
}
section {
    margin-bottom: 40px;
}
footer {
    background-color: #45454545;
    color: #555555;
    text-align: center;
    padding: 10px 0;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
.models, .news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.model, .news-item {
    background: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
}
.slider {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 100%;
    box-sizing: border-box;
}
.slider-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.slider-button {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
}
.model img, .news-item img {
    width: 100%;
    border-radius: 8px;
}
form {
    max-width: 600px;
    /* margin: auto; */
    background: #5e6bde78;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 8px;
}
input[type="text"], input[type="email"], textarea {
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #555;
}

